.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
}
.myModalContent {
    margin-top: 15px;

    padding: 25px;
    background-color: white;
    border: 1px solid teal;
    border-radius: 2px;
    min-width: 450px;
    min-height: 300px;
}
.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header, .name{
    text-align: center;
    align-content: center;
    padding: 5px;
}
.fn {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.qr {
    text-align: center;
    align-content: center;
    justify-content: center;
}
.price1 {
    color: rgb(128, 0, 13);
}